
        <div data-ng-repeat="bet in bets">
            <div ng-if="$index % 2 == 0">
                <div class="col-xs-12 col-sm-6">

                    <div class="item">

                        <div class="image-gauche">
                            <img ng-src="lib/images/{{bet.Sport}}.png" />
                        </div>
                        <div class="data-droite">
                            Côte : {{bet.Odd}}<br />
                            Sport : {{bet.Sport}}<br />
                            Mise : {{bet.Amount}} €<br />
                            <div class="follow">
                                <div class="icon-chevron-sign-right"></div>
                                <a href="#bet/{{bet.Id}}">Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="$index % 2 !== 0">
                <div class="col-xs-12 col-sm-6">

                    <div class="item">

                        <div class="image-droite">
                            <img ng-src="lib/images/{{bet.Sport}}.png" />
                        </div>
                        <div class="data-gauche">
                            Côte : {{bet.Odd}}<br />
                            Sport : {{bet.Sport}}<br />
                            Mise : {{bet.Amount}} €<br />
                            <div class="follow">
                                <div class="icon-chevron-sign-right"></div>
                                <a href="#bet/{{bet.Id}}">Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
  